<!DOCTYPE html>
<html lang = "en" data-bs-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown Editor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />      
    <link rel="stylesheet" href="style.css">
</head>

<body class="p-0 m-0"> 
    <div id="app" class="editor-container">
        <!-- <textarea id="input" placeholder="Type here..." v-model="message"></textarea>   v-model connects an input field to a variable -->
        <div id="inputPane">
            <textarea id="input" placeholder="Type here..." v-model="message"></textarea>
            <div id="counter" v-html="charCount"></div>
        </div>
        <div id="output" v-html="htmlOutput"></div>     <!--renders html from a variable-->
        <span id="themeToggle" class="material-symbols-rounded" v-on:click="toggleTheme"> {{themeIcon}} </span>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
